# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Global Python
venv/
env/
*.pyc
__pycache__/
*.pyo
*.pyd

# System
.DS_Store
Thumbs.db

# Logs
*.log
